.Header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 125px;
  padding: 20px;
}

.Header li {
  list-style: none;
}
.Header .toggle-button:hover {
  cursor: pointer;
}
